@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Noto Sans JP, sans-serif;
  ;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;

}

img {
  width: 100%;
  height: auto;
}

.header {
  width: 100%;
  height: 64px;
  margin: 0 auto;
  background-color: #fff;
  color: #007FC6;
  position: fixed;
  z-index: 999;
}

.header_inner {
  width: 100%;
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 100%;
  max-width: 139px;
  height: inherit;
}

.header_logo a {
  transition: 0.4s;
}

.header_logo a:hover {
  opacity: .6;
}

.header_nav {
  display: none;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 64px;
}

.mail_icon {
  width: 64px;
  height: 64px;
  background-color: #007FC6;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mail_icon img {
  width: 24px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.mail_icon a {
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  transition: 0.4s;
}

.mail_icon p {
  margin-top: 3px;
}

.mail_icon a:hover {
  opacity: .6;
}

/* ハンバーガーメニューの部分 */
.menu {
  background-color: #333;
  color: #fff;
  font-size: 10px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;

}
.menu:hover {
  opacity: .7;
}

/* ハンバーガーの３本線 */
.menu span {
  display: block;
  transition: all .3s;
  top: 12px;
  left: 25%;
  width: 32px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto;
}

.menu_icon span:nth-of-type(2) {
  margin-top: 8px;
}
.menu_icon span:nth-of-type(3) {
  margin-top: 8px;
}
.menu_item {
  text-align: center;
  margin-top: 7px;
}

/* menuクラスがactiveの時のコード*/
.menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 9px);
}
.menu.active span:nth-child(2) {
  opacity: 0;
}
.menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -9px);
}

/* ドロワーメニュー */
.drawer_nav {
  display: none; 
  display: block;
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  height: 76vh;
  background-color: #007FC6;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.drawer_nav.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.drawer_nav a {
  transition: 0.4s;
  display: block;
  height: inherit;
  align-items: center;
}

.drawer_list {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  align-items: center;
}

.drawer_list span {
  width: 24px;
}

.drawer_item {
  border-bottom: #fff 1px solid;
  padding-left: 16px;
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #FFF;
}

.drawer_item:last-child {
  margin-bottom: 0;
  display: flex;
}

.drawer_item img {
  width: 24px;
  margin: 0;
  padding: 0;
}

.drawer_list span {
  margin-right: 12px;
  box-sizing: border-box;
  width: 24px;
}

/* FV */
.hero {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(287.03deg, #02D1FF 0%, #007FC6 100%);
  padding-top: 64px;
}

.hero_inner {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  padding-bottom: 26px;
  position: relative;
}

.hero_left {
  padding-bottom: 26px;
}

.hero_text {
  text-align: center;
}

.hero_copy {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 42px;
}

.hero_catch {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 19px;
}

.hero_read {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 24px;
}

.hero_list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.hero_about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.hero_about li {
  background-color: #fff;
  color: #007FC6;
  border-radius: 50%;
  height: 112px;
  place-content: center;
}

.hero_item {
  font-size: 16px;
  font-weight: 700;
}

.hero_detail {
  margin-top: 15px;
  font-weight: 700;margin-left: 4px;
  letter-spacing: 1px;
}

.hero_note {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin: 24px auto 0;
}

.hero_note p:nth-child(2) {
  margin-top: 5px;
}

.hero_detail span {
  font-size: 12px;
  vertical-align: top;
  color: #333333;
}

.hero_detail #span {
  font-size: 16px;
  vertical-align: center;
  color: #007FC6;
  margin-left: 2px;
}

/* FV中央の画像 */
.job_listing {
 position: absolute;
 max-width: 360px;
 bottom: 51.6%;
 left: 6px;
}

.contact {
  margin: 202px auto 0;
}

.contact_inner {
  margin: 0 auto ;
  width: 100%;
  padding: 8px 8px 17px;
  height: auto;
  background-color: #fff;
  display: block;
  border-radius: 6px;
  color: #333333;
}

.contact_text {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #007FC6;
  text-align: center;
  border-radius: 6px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.contact_polygon {
  width: 17px;
  position: relative;
  top: -6px;
  left: 155px;
}
.contact_polygon_second {
  width: 17px;
  position: relative;
  top: -10px;
  left: 155px;
}

label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}


label:nth-child(1) {
  margin-top: 0;
}
label[for="company"] {
  margin-top: 15px;
}
label[for="email"] {
  margin-top: 15px;
}
label[for="tel"] {
  margin-top: 14px;
}
.contact_name_sec {
  width: 100%;
  display: flex;
  gap: 9px;
  margin-top: 6px;
}

label span {
  font-weight: 400;
  font-size: 14px;
  color: #F90000;
}

input {
  color: #333333;
  background-color: #F5F8FA;
  margin-top: 5px;
}

input[type="text"],
input[type="tel"] {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 8px;
  margin-top: 8px;
}
input[type="text"]{
  padding-top: 12px;
  padding-bottom: 15px;

}
input[type="email"] {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 8px;
  margin-top: 5px;
}

input[type="submit"] {
  display: block;
  text-align: center;
  width: 75%;
  margin: 42px auto 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #007FC6;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  border-style: none;
  transition: 0.4s;
}

input[type="submit"]:hover {
  opacity: .6;
}

.contact_note {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  margin-top: 26px;
  line-height: 1.25;
}

.works {
  background-color: #fff;
  color: #333333;
  width: 100%;
}

.works_inner {
  width: 100%;
  max-width: 375px;
  margin: 0 auto 39px;
  max-width: 375px;
  text-align: center;
  padding: 0 18px;
}

.works_title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding-top: 40px;
}

.works_logo img {
  width: 82%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.works_logo img:nth-child(2) {
  margin-top: 8px;
  width: 82%;
}

/* 会社ロゴ無限スライダー */
.swiper {
  overflow:hidden;
}
.swiper-slider img {
  width: 100%;
  height: auto;
}

.swiper01 .swiper-wrapper{
  transition-timing-function: linear;
}


#lead_area {
  background-color: #fff;
  color: #333333;
  margin: 0 auto;
}

.lead_main {
  width: 100%;
  margin: 66px auto 0;
  padding: 0 15px;
  text-align: center;
}

.lead_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.lead_text {
  margin-top: 63px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}

.lead_text span {
  color: #007FC6;
  font-size: 24px;
}

.lead_main img {
  width: 315px;
}

.lead_text_img {
  background-color: #F9F9F9;
  margin-top: 54px;
}

.lead_text_imgpc img {
  display: none;
}

#feature {
  width: 375px;
  margin: 0 auto;
}

.feature_menu {
  margin: 72px auto 0;
  text-align: center;
}

.feature_heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #333333;
}

.feature_list {
  margin-top: 51px;
  width: 100%;
}

.feature_item {
  border: 1px solid #007FC6;
  width: 91.2%;
  margin: 0 auto 24px;
  padding: 14px 30px 21px;
}

.feature_item:nth-child(4) {
  margin-bottom: 31px;
}

.feature_img img {
  width: 41.5%;
  height: auto;
}

.feature_title {
  margin-top: 19px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #F47500;
}

.feature_lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #333333;
  margin-top: 19px;
  text-align: left;
}

.info {
  width: 100%;
  color: #fff;
  background: url(img/background.png) no-repeat center /cover;
}

.info_inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 28px;
}

.info_title {
  font-size: 24px;
  line-height: 1.8;
  font-weight: 700;
}

.info_inner button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 25px;
  width: 320px;
  height: 52px;
  margin-top: 40px;
  background-color: #fff;
  color: #007FC6;
  transition: 0.4s;
  border-style: none;
}

.info_inner button:hover {
  opacity: .6;
}

.contact_second {
  background-color: #fff;
  color: #007FC6;
  font-size: 20px;
  font-weight: 700;
  border-radius: 25px;
  margin: 0 auto;
}

/* カードスライダーSp版 */
#slider {
  width: 100%;
  position: relative;
  padding:  0 16px;
  overflow: hidden; 
}
.slider-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #222222;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}

.swiper-container {
  width: 100%;
  max-width: 335px;
  height: auto;
  position: relative;
  margin: 0 auto; 
}
.slider-sec  {
  width: 100%;
  overflow: visible;
}
.swiper-slider {
  width: 311px; 
  height: auto;
  border-radius: 30px 0;
  padding: 14px 10px 20px;
  position: relative;
  margin: 58px auto 55px;
  box-shadow: 0px 5px 8px 3px #33333340;
}

.swiper-concept {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  color: #333333;
}
.swiper-concept span {
  color: #007FC6;
}

.swiper-lead {
  margin-top: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
}
.swiper-pic-a {
  width: 56%;
  margin-top: 52px;
}
.swiper-pic-b  {
  width: 64px;
  height: 64px;
  margin-top: 70px;
}
.swiper-pic-c  {
  width: 42.6%;
  height: auto;
  margin-top: 82px;
}

.swiper-item {
  background-color: #fff;
}


 /* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: ""!important;
  height: 20px;
  margin: auto;
  width: 20px;
 }

 .swiper-button-next, 
 .swiper-button-prev {
  width: 36px;
 }
 /* 前への矢印カスタマイズ*/
.swiper-button-prev::after{
  background-image: url(img/arrow-01.png);
 }
 
 .swiper-button-next::after {
  background-image: url(img/arrow-02.png);
 }
 /* 前への矢印 */
 .swiper-button-prev {
  left: -22px 
 }
 /* 次への矢印 */
 .swiper-button-next {
   right: -6%
 }
 
 .swiper-button-next:after, 
 .swiper-button-prev:after {
    content: none; /* 矢印を表示しないようにする */
}

/* 成約手数料のセクション */
#plan {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #F9F9F9;
}

.plan_inner {
  width: 310px;
  text-align: center;
  margin: 0 auto;
  padding-top: 58px;
}

.plan_title {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.plan_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  align-items: center;
  margin-top: 30px;
}

.plan_item {
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);
  border-radius: 10px 10px 10px 10px;
  width: 96px;
  height: 91px;
  border-top: solid 6px #007FC6
}

.plan_service {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
}

.plan_number {
  margin-top: 8px;
  margin-bottom: 17px;
  font-size: 36px;
  font-weight: 700;
  color: #007FC6;
}

.plan_number span {
  font-size: 12px;
}

.plan_text {
  margin-top: 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
  padding-bottom: 89px;
}

/* Q＆Aのセクション */
#accordion {
  background-color: #F9F9F9;
}

.accordion-content {
  display: none;
}

.qa-accordion {
  width: 100%;
  padding: 0 16px;
  margin: 45px auto 0;
  background: #F9F9F9;
  padding-bottom: 68px;
}
.accordion-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}
.accordion-header {
  width: 100%;
  height: 64px;
  padding: 26px 35px 24px 20px;
  margin: 17px auto 0 ;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  text-align: left;
  background-color: #FFF;
  border-radius: 10px 10px 0 0 ;
}
.accordion-header:nth-child(5){
  padding-top: 12px;
  line-height: 1.3;
}
.accordion-header:nth-child(7){
  padding: 8px 35px 10px 20px;
  line-height: 1.5;
}
.accordion-header:nth-child(9){
  padding: 7px 35px 10px 20px;
  line-height: 1.5;
}
.accordion-header.active {
  display: block;
  height: inherit;
  background-color: #007FC6;
  color: #fff;
}

.accordion-header::before{
  position: absolute;
  content: '';
  top: -5px;
  right: 20px;
  bottom: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background: #333333;
}

.accordion-header::after {
  position: absolute;
  content: '';
  top: -6px;
  right: 10px;
  bottom: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background: #333333;
}
.accordion-header.active::after {
  position: absolute;
  content: '';
  top: 1px;
  right: 10px;
  bottom: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background: #fff;
}

.accordion-header::before {
  right: 10px;
}
.accordion-header-pc {
  display: inline;
}

.accordion-header::after {
  transform: rotate(-90deg);
  transition: transform 0.3s;
  color: #333;
}

.accordion-header.active::after {
  transform: rotate(0deg);
}
.accordion-header.active::before{
  position: absolute;
  content: '';
  top: 1px;
  right: 10px;
  bottom: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background: #fff;
}
.accordion-content {
  background-color: #FFF;
  padding: 10px 10px 10px;
  height: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.accordion-header span {
  position: relative;
  display: inline-block;
  padding-left: 34px;
}
.accordion-header span:nth-child(3) {
  padding-top: 18px;
}
.accordion-header span::before:nth-child(5) {
  padding-top: 2px;
}
.accordion-header span::before {
  position: absolute;
  content: "Q";
  top: -8px;
  left:-10px;
  font-family: Goldman;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  color: #FFFFFF;
  background-color: #007FC6;
  border-radius: 50px;
  width: 32px; 
  height: 32px; 
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.accordion-header.active span::before {
  position: absolute;
  content: "Q";
  top: -8px;
  left:-10px;
  font-family: Goldman;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
  color: #007FC6;
  background-color: #fff;
  border-radius: 50px;
  width: 32px; 
  height: 32px; 
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.recommend {
  background: linear-gradient(287.03deg, #02D1FF 0%, #007FC6 100%);
  color: #fff;
  padding-top: 72px;
  padding-bottom: 46px;
}

.recommend_inner {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 400px;
}

.recommend_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.recommend_item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
  margin-top: 26px;
}
.recommend_pic {
  display: block;
  width: 240px;
  height: auto;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 40px;
  text-align: center;
}
.contact_second .contact_name_sec{
  margin-top: 2px;
}
.contact_second.contact_inner:nth-child(2) {
  margin-top: 40px;
}
.contact_second input[type="text"]{
  padding-top: 14px;
}
.contact_second >label[for="email"]{
  margin-top: 13px;
}
.contact_second input[type="tel"]  {
  padding-bottom: 11px;
}
.contact_second .contact_note{
  line-height: 1.3;
}
.footer {
  background-color: #fff;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.footer_inner {
  margin: 0 auto;
  padding: 0 16px;
  display: block;
  align-items: center;
}
.footer_logo {
  width: 227px;
  transition: 0.4s;
  margin: 0 auto 30px ;
}

.small_sec {
  font-family: Goldman;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
}

.footer_logo img:hover {
  opacity: .6;
}

@media (min-width:1024px) {

  /* .header */
  .header {
    width: 100%;
    height: 96px;
    margin-left: auto;
  }

  .header_inner {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding-left: 20px;
  }

  .header_logo {
    width: 100%;
    max-width: 16.9%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
  }

  .header_logo a {
    width: 90%;
    transition: 0.4s;
  }

  .header_logo img {
    width: 100%;
    height: auto;
  }

  .header_nav {
    width: 100%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    line-height: 96px;
  }

  .header_nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
  }

  .header_nav a:hover {
    opacity: .5;
  }

  .nav_list {
    width: 100%;
    margin-right: 6%;
    height: inherit;
    display: flex;
    justify-content: center;
  }

  .nav_item {
    margin-right: 3%;
    font-size: 16px;
    font-weight: 700;
    height: inherit;
    display: flex;
    align-items: center;
  }

  .nav_item:nth-child(5) {
    margin-right: 0px;
  }

  .header_menu {
    width: 100%;
    max-width: 210px;
    height: inherit;
    margin-right: 0;
  }

  .mail_icon {
    width: 189px;
    height: inherit;
    margin: 0;
    margin-left: 20px;
    background-color: #007FC6;
    align-items: center;
    transition: 0.4s;
  }

  .mail_icon:hover {
    opacity: .6;
  }

  .mail_icon a {
    text-decoration: none;
    display: flex;
  }

  .mail_icon img {
    width: 28%;
  }

  .mail_icon p {
    font-size: 16px;
  }

  .menu {
    display: none;
  }


  /* .hero */
  .hero {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 96px;
    position: relative;
  }

  .hero_inner {
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    
  }

  .hero_left {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 128px 20px;
  }

  .hero_text {
    width: 100%;
    text-align: left;
  }

  .hero_copy {
    font-size: 20px;
    margin-top: 84px;
  }

  .hero_catch {
    width: 100%;
    display: flex;
    font-size: clamp(45px, 4.5vw, 56px);
    margin-right: 0;
    margin-top: 13px;
    white-space: nowrap;
    line-height: 1.5;
  }

  .hero_read {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.5;
    font-size: clamp(1.125rem, 1.068rem + 0.24vw, 1.25rem);
  }

  .hero_read br:nth-child(1) {
    display: none;
  }

  .hero_list {
    width: 100%;
    max-width: 551px;
    height: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    margin-top: 34px;
    margin-left: 0;
  }

  .hero_about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    white-space: nowrap;
    gap: 20px;
    place-items: center;
    margin-top: 1px;
    margin-left: 7px; 
  }

  .hero_item {
    font-weight: 700;
    width: 164px;
    font-size: clamp(20px, 50vw, 24px);
    white-space: nowrap;
  }

  .hero_detail {
    font-weight: 700;
    font-size: clamp(24px, 2vw, 31px);
    white-space: nowrap;
    margin-top: 24px;
  }

  .hero_detail #span {
    font-weight: 700;
    font-size: clamp(2px, 2vw, 24px);
    white-space: nowrap;
  }

  .hero_note {
    text-align: left;
    width: 100%;
    margin-top: 27px;
  }

  /* fv中央のイラスト */
  .job_listing {
    position: absolute;
    max-width: 360px;
    bottom: 8px;
    left: 36.1%;
    width: clamp(28.4% , 2vw ,32%)
    
  }

  .hero_about li {
    font-size: 24px;
    height: 164px;
  }

  #span {
    vertical-align: bottom;
    color: #007FC6
  }

  .hero_note {
    margin-top: 25px;
  }

  .hero_note p:nth-child(2) {
    margin-top: 7px;
  }

  .works_logo img:nth-child(2) {
    width: 41%;
    height: 14%;
  }

  .contact {
    width: 100%;
    max-width: 400px;
    height: auto;
    place-content: center;
    margin: 0 auto;
  }
  .contact_inner {
    padding-bottom: 28px;
  }
  label[for="lastname"] {
    margin-left: 3px;
}
  label[for="firstname"] {
    margin-left: 3px;
}
  .contact_text {
    font-size: 20px;
    white-space: nowrap;
    padding-top: 13px;
    padding-bottom: 14px;
  }
  .contact_polygon {
    width: 17px;
    position: relative;
    top: -6px;
    left: 182px;
}

  label[for="company"] {
    margin-top: 13px;
    margin-left: 10px;
}
  input[type="submit"] {
    font-size: 20px;
    width: 84%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 35px auto 0;
  }
  input[type="email"] {
    width: 96%;
    margin-left: 10px;
    margin-top: 7px;
  }
  label[for="email"] {
    margin-top: 13px;
    margin-left: 11px;
}
  input[type="tel"] {
    width: 96%;
    margin-left: 10px;
  }
  label {
    margin-bottom: 5px;
    margin-left: 10px;
  }
  input[type="text"] {
    width: 99%;
    margin-left: 2px;
  }
  input[type="text"][name="company"] {
    margin-bottom: 9px;
    margin-top: 8px;
    margin-left: 10px;
    width: 97%;
  }

  .contact_name_sec {
    gap: 18px;
    margin-left: 8px;
    width: 97%;

  }

  .contact_note {
    font-size: 14px;
    padding: 0 12px 0 9px;
    margin-top: 26px;
  }
 /* works section 多くのお客様に選ばれ続けています（中央イラスト部分） */
  .works_inner {
    max-width: 1024px;
    height: auto;
  }

  .works_title {
    font-size: 32px;
    padding-top: 76px;
  }

  .works_logo {
    display: flex;
    gap: 40px;
  }

  .works_logo img {
    width: 434px;
    height: 146px;
    margin-top: 40px;
  }

  .works_logo img:nth-child(2) {
    margin-top: 40px;
    width: 428px;
    height: 146px;
  }

  /* 会社ロゴの無限スライダー */
  .swiper01{
    overflow: hidden;
  }

  .swiper01 .swiper-wrapper {
    margin-top: 25px;
    transition-timing-function: linear;
  }
  
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
  .swiper-slide{
    width: 248px;
  }
  /* CareSendについて */
  .lead_text_img-pc img {
    display: none;
  }

  .lead_text_img-pc {
    background-color: #F9F9F9;
  }

  #lead_area {
    background-color: #fff;
    width: 100%;
  }

  .lead_main {
    max-width: 1024px;
    margin: 0 auto;
  }

  .lead_title {
    font-size: 32px;
    padding-top: 86px;
  }

  .lead_text {
    font-size: 24px;
    margin-top: 51px;
    line-height: 1.8;
  }

  .lead_text br:nth-child(1) {
    display: none;
  }

  .lead_text br:nth-child(3) {
    display: none;
  }

  .lead_text span {
    font-size: 32px;
    font-weight: 700;
    line-height: 57.6px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .lead_text_img {
    display: none;
  }

  .lead_text_imgpc {
    background-color: #F9F9F9;
    width: 808px;
    height: 276px;
    margin: 45px auto 0;
  }

  .lead_text_imgpc img {
    display: block;
    width: 562px;
    height: 316px;
    margin: 25px auto 0;
    position: relative;
    top: -20px;
  }

  /* CareSendの特徴 */
  #feature {
    width: 100%;
    margin: 0 auto;

  }

  .feature_menu {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }

  .feature_heading {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding-top: 116px;
  }

  .feature_list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    gap: 24px;
    grid-auto-rows: 325px;
  }

  .feature_item {
    border: 1px solid #007FC6;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 14px 30px 0;
  }

  .feature_img img {
    width: 116px;
    height: 77px;
    object-fit: cover;
  }

  .feature_title br {
    display: none;
  }

  .feature_item:nth-child(4) {
    margin: 0;
  }

  .feature_lead {
    padding-bottom: 29px;
  }

  .feature_lead:nth-child(1) {
    padding-bottom: 29px;
  }

  .info {
    width: 100%;
    margin: 0 auto;
    margin-top: 31px;

  }

  .info_title {
    line-height: 43.2px;
  }

  .info_inner {
    width: 100%;
    max-width: 1024px;
    height: 240px;
    align-items: center;
    text-align: center;
    padding-top: 60px;
  }

  .info_title br {
    display: none;
  }

  .info_inner button {
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    width: 320px;
    height: 52px;
    margin-top: 24px;
    background-color: #fff;
    color: #007FC6;
    transition: 0.4s;
  }

  .info_inner button:hover {
    opacity: .6;
  }

/* カードのスライダーPC版は２枚表示 */
  #slider {
    margin-inline: auto;
    position: relative;
  }
  .slider-title {
    font-size: 32px;
    line-height: 48px;
    color: #222222;
    padding-top: 96px;
  }
  .swiper-container {
    position: relative;
    max-width: 920px;
    width: 100%;
  }
 
  .swiper-slider {
    width: 405px;
    height: auto;
    border-radius: 30px 0;
    padding: 1px 20px 26px ;
    position: relative; 
    margin: 68px 17px 60px 17px; 
    box-shadow: 0px 5px 8px 3px #33333340;
  }
  .swiper-box {
    box-shadow: none;

  }
  .swiper-concept {
    font-size: 24px;
    line-height: 1.8;
    margin-top: 34px;
  }
  .swiper-lead {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.8;
  }
  .swiper-pic-a  {
    width: 42.6%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .swiper-pic-b  {
    width: 64px;
    height: 64px;
    margin-top: 28px;
  }
  .swiper-pic-c  {
    width: 42.6%;
    height: auto;
    margin-top: 52px;
  }
  /* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 36px;
  margin: auto;
  width: 36px;
 
}
/* 前への矢印カスタマイズ*/
.swiper-button-prev::after{
 background-image: url(img/arrow-01.png);
 background-size: 36px;
 
}

.swiper-button-next::after {
 background-image: url(img/arrow-02.png);
 background-size: 36px;
 z-index: 1000;
}
/* 前への矢印 */
.swiper-button-prev {
 left: -35px !important; /* 矢印を外に出すために使用 */
}
/* 次への矢印 */
.swiper-button-next {
  right: -35px !important 
}

  #plan {
    width: 100%;
    background-color: #F9F9F9;
    margin: 0 auto;
    padding-top: 0px;
  }

  .plan_inner {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 57px;
  }

  .plan_title {
    font-size: 32px;
    padding-top: 87px;
  }

  .plan_list {
    max-width: 1020px;
    margin: 68px auto 0;
    padding: 0 54px;
    gap: 11px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 0;
  }

  .plan_text {
    text-align: left;
    padding: 0 20px;
    width: 955px;
    margin: 45px auto 0;
  }

  .plan_item {
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);
    border-radius: 5px 5px 5px 5px;
    width: 296px;
    height: 277px;
    background-color: #fff;
    border-top: solid 10px #007FC6
  }

  .plan_service {
    margin-top: 28px;
    font-size: 24px;
  }

  .plan_number {
    font-size: 96px;
    font-weight: 700;
    margin-top: 16px;
  }

  .plan_number span {
    font-size: 32px;
    color: #333333;
    ;
  }

  .plan_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
  }
  

  /* PC版Q&Aセクション */
  #accordion {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .accordion-sec {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 72px;

  }
  .accordion-title {
    color: #333333;
    font-size: 32px;
    padding-top: 96px;
    font-weight: 700;
  }
  .qa-accordion {
    width: 100%;
    margin: 70px auto 0;
    background: #F9F9F9;
    padding: 0px;
  }
  
  .accordion-header {
    width: 100%;
    height: 80px;
    padding: 28px 35px 32px 35px;
    margin: 24px auto 0;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    text-align: left;
    background-color: #FFF;
    border-radius: 10px 10px 10px 10px ;
  }
  .accordion-header:nth-child(5){
    padding-top: 32px;
  }
  .accordion-header:nth-child(7){
    padding: 32px 35px 32px 35px;
  }
  .accordion-header:nth-child(9){
    padding: 32px 35px 32px 35px;
  }
  .accordion-header.active {
    display: block;
    height: inherit;
    background-color: #007FC6;
    color: #fff;
    border-radius: 10px 10px 0 0 ;
  }
  
  .accordion-header::before{
    position: absolute;
    content: '';
    top: -6px;
    right: 20px;
    bottom: 0;
    width: 32px;
    height: 2px;
    margin: auto;
    background: #333333;
  }
  
  .accordion-header::after {
    position: absolute;
    content: '';
    top: -1px;
    right: 23px;
    bottom: 0;
    width: 32px;
    height: 2px;
    margin: auto;
    background: #333333;
  }
  .accordion-header.active::after {
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 32px;
    height: 2px;
    margin: auto;
    background: #fff;
  }
  
  .accordion-header::before {
    right: 23px;
  }
  
  .accordion-header::after {
    transform: rotate(-90deg);
    transition: transform 0.3s;
    color: #333;
  }
  
  .accordion-header.active::after {
    transform: rotate(0deg);
  }
  .accordion-header.active::before{
    position: absolute;
    content: '';
    top: 1px;
    right: 20px;
    bottom: 0;
    width: 16px;
    height: 2px;
    margin: auto;
    background: #fff;
  }
  .accordion-content {
    background-color: #FFF;
    padding: 24px 36px;
    height: inherit;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    border-radius: 0 0 10px 10px;
  }
  
  .accordion-header span {
    position: relative;
    display: inline-block;
    padding-left: 68px;
  }
  .accordion-header span:nth-child(3) {
    padding-top: 18px;
  }
  .accordion-header span::before {
    position: absolute;
    content: "Q";
    top: -8px;
    left:0px;
    font-family: Goldman;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 2px;
    color: #FFFFFF;
    background-color: #007FC6;
    border-radius: 50px;
    width: 44px; 
    height: 44px; 
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordion-header.active span::before {
    position: absolute;
    content: "Q";
    top: -8px;
    left:0px;
    font-family: Goldman;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 2px;
    color: #007FC6;
    background-color: #fff;
    border-radius: 50px;
    width: 44px; 
    height: 44px; 
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .accordion-header:nth-child(7) {
    line-height: 1.2;
  }
  
  .accordion-header:nth-child(9) {
    line-height: 1.2;
  }
  .recommend {
    padding-top: 96px;
    padding-bottom: 57px;
    height: 850px;
  }

  .recommend_inner {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 888px;
  }

  .recommend_left {
    width: 40%;
    margin: 0 auto;
  }

  .recommend_title {
    font-size: 32px;
    text-align: center;
    line-height: 1;
  }

  .recommend_title br {
    display: none;
  }

  .recommend_item {
    font-size: 16px;
    text-align: left;
    margin-top: 111px;
    width: 413px;
  }

  .recommend_pic {
    width: 424px;
    height: auto;
    margin-top: 48px;
    margin-bottom: 223px;
    align-items: center;
    position: relative;
    left: -6px;
  }

  .contact_second {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 6px;
    color: #333333;
    margin-left: 25px;
    margin-top:8px;
}
  .contact_polygon_second{
    width: 17px;
    position: relative;
    top: -10px;
    left: 180px;
  }
  .contact_inner {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    border-radius: 6px;
  }


  .footer_inner {
    height: 100px;
  }

  .small_sec {
    display: block;
    margin-top: 38px;
    font-family: Goldman;
    font-size: 12px;
    font-weight: 400;
  }
}