@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Noto Sans JP, sans-serif;;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0 auto;
    position: relative;
  
  }
  .header {
    width: 100%;
    height: 64px;
    margin: 0 auto; 
    background-color: #fff;
    color: #007FC6;
    position: fixed;
    z-index: 999; 
  }
  .header_inner {
    width: 100%;
    /* margin: 0 0 0 auto; */
    padding:0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_logo {
    width: 100%;
    max-width: 139px;
    height: inherit; 
   }
   .header_logo a {
    transition: 0.4s;
   }
   .header_logo:hover {
     opacity: .6;
   }
  .header_nav {
    display: none;
  }
  .header_menu {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 64px;
  }
 
 .mail_icon  {
   width: 64px;
   height: 64px;
   background-color: #007FC6;
   align-items: center;
   display: flex;
   justify-content: center;
 }
 .mail_icon img {
   width: 24px;
   height: auto;
   display: block;
   margin: 0 auto;
 }
 .mail_icon a {
   font-size: 10px;
   text-decoration: none;
   color: #fff;
   justify-content: center;
   align-items: center;
   font-weight:400;
   transition: 0.4s;
 }
 .mail_icon a:hover {
   opacity: .6;
 }
 /* ハンバーガーメニューの部分 */
 .menu {
   background-color: #444;
   color: #fff;
   font-size: 10px;
   width: 64px;
   height: 64px;
   cursor: pointer;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
   transition:all 0.3s ;
   align-items: center;
   
 }
 .menu:hover {
   opacity: .9;
 }

 /* ハンバーガーの３本線 */
 .menu span{
   display: block;
   transition:all .3s;
   top: 12px;
   left: 25%;
   width: 32px;
   height: 1px;
   background-color:#fff; 
   margin: 0 auto; 
 }
 .menu_icon span:nth-of-type(1){
  margin-top: 12px;
}
.menu_icon span:nth-of-type(2){
  margin-top: 9px;
 }
.menu_icon span:nth-of-type(3){
  margin-top: 9px;
 }
.menu_item {
  text-align: center;
  margin-top: 4px;
 }

 .menu.active  span:nth-child(1) {
  transform: rotate(45deg) translate(5px,9px);
 }
 .menu.active span:nth-child(2) {
  opacity: 0;
 }
 .menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px,-9px);
 }

 /* ドロワーメニュー */
.drawer_nav {
  /* display: none; */
  position: fixed;
  top: 64px;
  right: 0;
  width: 100%;
  height: 50vh;
  background-color: #007FC6;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 2;
}
.drawer_list {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.drawer_item  {
  display: block;
  margin: 24px auto 24px 0;
  margin-left: 16px;
  padding-left: 16px;
}
.drawer_nav .active {
  display: block;
}
 .drawer_nav .drawer_list{
  list-style: none;
  padding: 0; 
  margin: 0; 
}
.drawer_nav .drawer_item {
  margin: 24px auto 24px 0 ;
  border-bottom: #fff 1px solid; 
  padding-bottom: 24px;
}
.drawer_nav .drawer_item:last-child {
  margin-bottom: 0;
}
.drawer_item img {
  width: 24px;
}
.mail {
  display: inline-block;
  width: 34px;
  padding-right: 10px;

}

/* FV */
 .hero {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(287.03deg, #02D1FF 0%, #007FC6 100%);
  padding-top: 64px;
 }
 .hero_inner {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding-left:  15px;
  padding-right: 15px;
  color: #fff;
  padding-bottom: 26px;
 }
 .hero_left {
  padding-bottom: 30px;
 }
 .hero_text {
  text-align: center;
 }
 .hero_copy {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 40px;
 }
 .hero_catch {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 18px;
 }
 .hero_read {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 24px;
 }
 .hero_list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
 }
 .hero_about{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 4px;
  margin-top: 16px;
  margin-left:  auto;
  margin-right: auto;
 }
 
 .hero_about li {
  background-color: #fff;
  color: #007FC6;
  border-radius: 50%;
  height: 112px;
  place-content: center;
 }
 .hero_item {
  font-size: 16px;
  font-weight: 700;
 }
 .hero_detail {
  margin-top: 18px;
  font-weight: 700;
 }

 .hero_note {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin: 24px auto 0;
 }
 .hero_note p:nth-child(2) {
  margin-top: 5px;
 }

.hero_detail span {
  font-size: 12px;
  vertical-align: top;
  color:#333333;
}
.hero_detail #span {
  font-size: 16px;
  vertical-align: center;
  color:#007FC6;
}
/* .job_listing img{
 margin: 0 auto;
 display: block;
} */
.contact {
  margin: 0 auto;
}
.contact_inner {
  margin: 0 auto ;
  width: 100%;
  padding: 8px 8px 19px;
  height: auto;
  background-color: #fff;
  display: block;
  border-radius: 6px;
  color: #333333;
}

.contact_text {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #007FC6;
  text-align: center;
  border-radius: 6px;
  align-items: center;
  padding-top: 17px ;
  padding-bottom: 17px ;
}
.contact_polygon img {
  width: 17px;
  position: relative;
  top: -6px;
  left: 155px;
  background-color: #F9F9F9;
}
label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 8px;
}
label:nth-child(1) {
 margin-top: 0;
}
label:nth-child(2) {
  margin-top: 15px;
}
label:nth-child(3) {
  margin-top: 15px;
}
label[for="company"] {
  margin-top: 15px;
}
.contact_namesec {
  width: 100%;
  display: flex;
  gap: 9px; 
}
label span {
  font-weight: 400;
  font-size: 14px;
  color: #F90000;
}
input {
  color: #333333;
  background-color: #F5F8FA;
}
input[type="text"], input[type="email"], input[type="tel"] {
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
}
input[type="submit"]{
  display: block;
  text-align: center;
  width: 78%;
  margin: 40px auto 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #007FC6;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  border-style: none;
  transition: 0.4s;
}
input[type="submit"]:hover{
  opacity: .6;
}
.contact_note {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  margin-top: 24px;
}
.works {
  background-color: #fff;
  color: #333333;
  width: 100%;
}
.works_inner {
  width: 100%;
  max-width: 375px;
  margin: 0 auto 39px;
  max-width: 375px;
  text-align: center;
  padding: 0 18px;
}
.works_title  {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  padding-top: 40px;
}
.works_logo img {
  width:  80%;
  height: auto;
  margin: 0  auto ;
  text-align: center;
  margin-top: 30px;
}
.works_logo img:nth-child(2) {
  margin-top: 4px;
  width: 86%;
}
.logo-container img {
  width: 160px;
  height: 64px;
}
.logo-container {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
.logo_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: calc(5 * 223px);
  animation: slide 15s linear infinite;
  transition-timing-function: linear;
}
#lead_area {
  background-color: #fff;
  color: #333333;
  margin: 0 auto;
}
.lead_main {
  width: 100%;
  margin: 72px auto 0;
  padding: 0 15px;
  text-align: center;
}
.lead_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.lead_text {
  margin-top: 63px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
}
.lead_text span {
  color: #007FC6;
  font-size: 24px; 
}
.lead_main img {
  width: 315px;
}
.lead_text_img {
  background-color: #F9F9F9;
  margin-top: 54px;
}
.lead_text_imgpc img {
  display: none;
}
#feature {
  width: 375px;
  margin: 0 auto;
}
.feature_menu {
  margin: 72px auto 0 ;
  text-align: center;
}
.feature_heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.feature_list {
  margin-top: 51px;
  width: 100%;
}
.feature_item {
  border: 1px solid #007FC6;
  width: 91.2%;
  margin: 0 auto 24px;
  padding: 14px 30px 21px;
}
.feature_item:nth-child(4) {
  margin-bottom: 31px;
}
.feature_img img {
  width: 41.5%;
  height: auto;
}
.feature_title {
  margin-top: 19px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #F47500;
}
.feature_lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #333333;
  margin-top: 19px;
  text-align: left;
}
.info {
  width: 100%;
  color: #fff;
  background: url(img/background.png) no-repeat center /cover ;
}

.info_inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 28px ;
}
.info_title {
  font-size: 24px;
  line-height: 1.8;
  font-weight: 700;
}
.info_inner button{
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  width: 246px;
  height: 42px;
  margin-top: 40px;
  background-color: #fff;
  color: #007FC6;
  transition: 0.4s;
}
.info_inner button:hover {
  opacity: .6;
}
.contact_second {
  background-color: #fff ;
  color: #007FC6;
  font-size: 20px;
  font-weight: 700;
  border-radius: 25px;
  width: 320px;
  height: 52px;
  margin-top: 39px;
  transition: 0.4s;
}
.contact_second:hover {
  opacity: .6;
}
#slider {
  width: 100%;
  padding: 72px 6px 45px;
}
.slider_sec {
  position: relative;
}
.slider_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #222222;
  text-align: center;
  margin: 0 auto; 
}
.slider_item {
  border: 1px;
  width: 311px;
  height: auto;
  margin: 57px auto 0;
  box-shadow: 0px 5px 8px rgba(51, 51, 51, 0.25);
  border-radius: 30px 0 30px 0;
  padding: 0 10px;
}
.slider_item:nth-child(2) {
  display: none;
}
  
.slider_sec {
  display: flex;
  justify-content: space-between;
}
.slider_arrow img {
  width: 20px; 
  height: auto;
  position: relative;
  top: 283px;
  transition: 0.4s;
}
.slider_arrow img:hover {
  opacity: .6;
}
#slider {
  width: 375px;
  margin: 0 auto;
} 
.slider_concept {
  padding-top: 31px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  color: #333333;
}
.slider_concept span {
  color: #007FC6;
}
.slider_lead {
  margin-top: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
}
.slider_item img {
  width: 50%;
  margin-top: 55px;
  margin-bottom: 20px;
}
.slider_item {
  background-color: #fff;
}

.slider_sec {
  display: flex;
  justify-content: space-between;
} 
 .slider_arrow_after img {
  /* width: 34px;  */
  height: auto;
  position: relative;
  /* left:20px; */
  transition: 0.4s;
} 

.slider_arrow_after img:hover{
  opacity: .6;
}

.slider_arrow img {
  /* width: 34px;  */
  height: auto;
  position: relative;
  top: 0;
  left: -10px;
  transition: 0.4s;
}
.arrow img:hover {
  opacity: .6;
}

#plan {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #F9F9F9;
}
.plan_inner {
  width: 300px;
  text-align: center; 
  margin: 0 auto;
  padding-top: 72px;
}
.plan_title {
  font-size: 24px;
  font-weight: 700;
}
.plan_list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 12px;
  align-items: center;
  margin-top: 30px;
}
.plan_item {
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);
  border-radius: 10px 10px 10px 10px;
  width: 96px;
  height: 91px;
  border-top: solid 6px #007FC6
}
.plan_service {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
}
.plan_number {
  margin-top: 12px;
  margin-bottom: 17px;
  font-size: 36px;
  font-weight: 700;
  color: #007FC6;
}
.plan_number span {
  font-size: 12px;
}
.plan_text {
  margin-top: 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}
/* 以下作業途中 */
/* #qa {
  padding-top: 89px;
  padding-bottom: 72px;
  width: 100%;
  margin: 0 auto;
  background-color: #F9F9F9;
}
.qa_container {
  width: 91.4%;
  margin: 0 auto;
}
.qa_list {
  margin-top: 48px;
}
.qa_title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.qa_sec {
  font-size: 14px;
  font-weight: 700;
  height: 64px;
  padding: 20px 0;
  border-radius: 10px;
} */
/* .qa_list dt::before {
  content: "Q";
	color: #fff;
  border-radius: 50px;
  background-color: #007FC6;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
  display: inline-block;
}
.qa_list dt::after {
  content: "-";
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  width: 32px;
  text-align: right;
  padding-top: 5px;
  margin-right: 10px;
} */

/* .qsec:nth-child(3)  {
  margin-top: 16px
}
.qswc{
  margin-top:16px;
}
 
.qsec:nth-child(5) {
  margin-top: 16px;
} 
.qsec:nth-child(6) {
  margin-top: 16px;
} 
.asec {
  padding: 10px 10px 0;
  font-size: 14px;
  font-weight: 400;
}
.annser {
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
  margin-top: 10px;
} */
.recommend {
  background: linear-gradient(287.03deg, #02D1FF 0%, #007FC6 100%);
  ;
  color: #fff;
  padding-top: 72px;
  padding-bottom: 46px;
}
.recommend_inner {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 400px;
}
.recommend_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.recommend_item {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  text-align: c;
  margin-top: 26px;
}
.recommend_pic img {
  display: block;
  width: 240px;
  height: auto;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 40px;
  text-align: center; 
}
#contact_second {
  background-color: #007FC6;
}
.footer {
  background-color: #fff;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
.footer_inner {
  margin: 0 auto;
  padding: 0 16px;
  display: block;
}
.footer_logo img {
  width: 227px;
  transition: 0.4s;
}
.small_sec img {
font-family: Goldman;
font-size: 12px;
font-weight: 400;
line-height: 12px;
text-align: left;
}
.footer_logo img:hover {
  opacity: .6;
}

@media (min-width:960px) { 
  /* .header */
  .header {
    width: 100%;
    height: 96px;
    margin-left: auto;
  }
   .header_inner {
    width: 100%;
    max-width: 1536px;
    height: inherit;
    margin: 0 auto;
    padding-left: 20px;
  } 
  .header_logo {
    width: 100%;
    max-width: 16.9%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;
  }
  .header_logo a {
    width: 90%;
    transition: 0.4s;
  }
  .header_logo img  {
    width: 100%;
    height: auto;
  }
  .header_nav{
    width: 100%;
    margin: 0 auto;
    height: inherit;
    display: flex;
    line-height: 96px;
  }
  .header_nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
  }
  .header_nav a:hover {
    opacity: .5;
  }
  .nav_list {
    width: 100%;
    margin-right: 6%;
    height: inherit;
    display: flex;
    justify-content: center;
  }
  .nav_item {
    margin-right: 2.66%;
    font-size: 16px;
    font-weight: 700;
    height: inherit;
    display: flex;
    align-items: center;
  }
  .nav_item:nth-child(5) {
    margin-right: 0px;
  }
  .header_menu {
    width: 100%;
    max-width: 210px;
    height: inherit;
   margin-right: 0;
  }
  .mail_icon  {
    width: 189px;
    height: inherit;
    margin: 0 ;
    margin-left: 20px;
    background-color: #007FC6;
    align-items: center;
    transition: 0.4s; 
  }
  .mail_icon:hover {
    opacity: .6;
  }
  .mail_icon a {
    text-decoration: none;
    display: flex;
  }
  .mail_icon img {
    width: 28%;
  }

  .mail_icon p {
    font-size: 16px;
  } 
  .menu {
    display: none;
  }
  
 
  /* .hero */
  .hero {
    width: 100%;
    max-width:1536px;
    height: auto;
    margin: 0 auto; 
    padding-top: 96px;
  }
  .hero_inner {
    width: 100%;
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
  }
  .hero_left {
    width: 100%;
    margin: 0 auto;
    padding:0 0 127px 20px;
  }
  .hero_text {
    width: 100%;
    text-align: left;
  }
  .hero_copy {
    font-size: 20px;
    margin-top: 84px;
  }
  .hero_catch {
    width: 100%;
    display: flex;
    font-size: clamp(30px, 4vw, 56px);
    margin-right: 0;
    margin-top: 11px;
    white-space: nowrap; 
   }
  .hero_read {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.5;
    font-size: clamp(1.125rem, 1.068rem + 0.24vw, 1.25rem);
    /* font-size: clamp(18px, 1vw, 20px); */
   }
  .hero_read br:nth-child(1) {
    display: none;
   }
   .hero_list {
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    margin-top: 34px;
    
   }
   .hero_about{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    white-space: nowrap; 
    gap: 25px;
    place-items: center;
    width: clamp(551px, 2vw, 1200px);
    
    margin-top: 0; 
   }
   .hero_item {
    font-weight: 700;
    width: 164px;
    font-size: clamp(20px, 50vw, 24px);
    white-space: nowrap;  
   }
   .hero_detail {
    font-weight: 700;
    font-size: clamp(24px, 2vw, 31px);
    white-space: nowrap; 
   }
   .hero_detail #span {
    font-weight: 700;
    font-size: clamp(2px, 2vw, 24px);
    white-space: nowrap; 
   }
   
   .hero_note {
    text-align: left;
    width: 100%;
    margin-top: 27px;
   }
   .job_listing {
    position: relative;
    top: 552px;
    right: 194px;
   } 
  
  .hero_about li{
    font-size: 24px;
    height: 164px; 
   } 
  #span {
    vertical-align: bottom;
    color:#007FC6
    }
  .hero_note {
      margin-top: 27px;
    }
  .hero_note p:nth-child(2) {
    margin-top: 7px;
    }

  .works_logo img:nth-child(2) {
  width: 41%;
  height: 14%; 
  }
  .contact {
    width: 65.5%;
    height: auto;
    place-content: center;
    align-items: center;
    margin: 0 auto; 
  }
  .contact_text {
    font-size: 20px;
    white-space: nowrap; 
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: clamp(0.875rem, 0.54rem + 2.3vw, 1rem);
  }
  input[type="submit"]{
    font-size: 20px;
    width: 85%;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  label {
    margin-bottom: 5px;
    margin-left: 6px;
  }
  label:nth-child(3) {
    margin-bottom: 3px;
  }
  .contact_namesec {
    gap: 18px;
    margin-left:2px ;
  }
  .contact_polygon img {
    width: 14px;
    top: -8px;
    left: 185px;
  }
  .contact_note {
    font-size: 14px;
    padding: 0 9px 0 8px;
  }
  
  .works_inner {
    max-width: 1024px;
    height: auto;
  }
  .works_title  {
    font-size: 32px;
    padding-top: 80px;
  }
  .works_logo {
    display: flex;
  }
  .works_logo img {
    width: 428px;
    height: 146px;
    margin-top: 40px;
  }
  .works_logo img:nth-child(2) {
    margin-top: 40px; 
    width: 428px;
    height: 146px;
  }
  .logo_container {
    width: 100%;
    padding-bottom: 46px;
    overflow: hidden;
    
  }
  .logo_slider {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 80px;
    margin-top: 25px;
    overflow: hidden;
    /* animation: slide 50s linear infinite; */
  }
  .logo_slider img {
    width: 248px;
    height: 99px;
  }
  .lead_text_imgpc img {
    display: none;
  }
  .lead_text_imgpc {
    background-color: #F9F9F9;
  }
  
  #lead_area {
    background-color: #fff;
    width: 100%;
  }
  .lead_main {
    max-width: 1024px;
    margin: 0 auto;
  }
  .lead_title {
    font-size: 32px;
    padding-top: 96px;
  }
  .lead_text {
    font-size: 24px;
    margin-top: 51px;
    line-height: 1.8;
  }
  .lead_text br:nth-child(1) {
    display: none;
  }
  .lead_text br:nth-child(3) {
    display: none;
  }
  .lead_text span {
    font-size: 32px;
    font-weight: 700;
    line-height: 57.6px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .lead_text_img {
    display: none;
  }
  .lead_text_imgpc {
    background-color: #F9F9F9;
    width: 808px;
    height: 276px;
    margin: 45px auto 0;
  }
  .lead_text_imgpc img {
    display: block;
    width: 562px;
    height: 316px;
    margin: 25px auto 0;
    position: relative;
    top: -20px;
  }
  #feature {
    width: 100%;
    margin: 0 auto;
    
  }
  .feature_menu {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    
  }
  .feature_heading {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding-top: 116px;
  }
  .feature_list {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    gap: 24px;
    grid-auto-rows: 325px;
  }
  .feature_item {
    border: 1px solid #007FC6;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 14px 30px 0; 
  }

  .feature_img img {
    width: 116px;
    height: 77px;
    object-fit: cover;
  }
  .feature_title br {
    display: none;
  }
  .feature_item:nth-child(4) {
    margin: 0;
  }
  .feature_lead{
    padding-bottom: 29px;
  } 
  .feature_lead:nth-child(1){
    padding-bottom: 29px;
  } 
  .info {
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    margin-top: 31px;
  
  }
  .info_title {
    line-height: 43.2px; 
  }
  .info_inner {
    width: 100%;
    max-width: 1024px;
    height: 240px;
    align-items: center;
    text-align: center;
    padding-top: 60px ;
  }
  .info_title br {
    display: none;
  }
  .info_inner button{
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    width: 320px;
    height: 52px;
    margin-top: 24px;
    background-color: #fff;
    color: #007FC6;
    transition: 0.4s;
  }
  .info_inner button:hover {
    opacity: .6;
  }
  .slider_title {
    font-size: 32px;
    line-height: 48px;
    color: #222222;
  }
  #slider {
    margin: 0 auto;
    width: 100%;
    padding-top: 96px;
    padding-bottom: 0;
  }
  .slider_sec {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 73px 20px 55px;
  }
  
  .slider_item {
    border: 1px;
    width: 93%;
    height: auto;
    margin: 0 auto ;
    box-shadow: 0px 5px 8px rgba(51, 51, 51, 0.25);
    border-radius: 30px 0 30px 0;
    padding: 0 20px;
    background-color: #FFFFFF;
  }
  .slider_item:nth-child(2) {
    display: block;
  }
  .slider_item:nth-child(3) ,
  .slider_item:nth-child(4) {
    display: none;
  }

   .slider_arrow_after img {
    width: 34px; 
    height: auto;
    position: relative;
    left:-2px;
    transition: 0.4s;
  } 
  .slider_arrow_after img:hover{
    opacity: .6;
  }
  .slider_arrow img {
    width: 34px; 
    height: auto;
    position: relative;
    left: -20px;
    transition: 0.4s;
  }
  .arrow img:hover {
    opacity: .6;
  }
  .slider_concept {
    padding-top: 31px;
    font-size: 24px;
    line-height: 1.8;
  }
  .slider_lead {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.8;
  } 
  .slider_card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:6%;
  }
  .slider_pic_a img{
    width: 42.6%;
    margin-top: 37px;
  }
  .slider_pic_b img{
    width: 64px;
    height: 64px;
    margin-top: 37px;
  }
  #plan {
    width: 100%;
    background-color: #F9F9F9;
    margin: 0 auto;
    padding-top: 0px;
  } 
  .plan_inner {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    place-content: center;
    padding: 0 20px;
    padding-bottom: 57px;
  }
  .plan_title {
    font-size: 32px;
    padding-top: 96px;
  }
  .plan_list {
    max-width: 1020px;
    margin: 65px auto 0;
    padding: 0 45px;
    gap: 11px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding-top: 0;
  }
  .plan_text {
    text-align: left;
    padding: 0 20px;
    width: 955px;
    margin: 45px auto 0 ;
  }
  .plan_item {
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.25);
    border-radius: 5px 5px 5px 5px;
    width: 296px;
    height: 277px;
    background-color: #fff;
    border-top: solid 10px #007FC6
  }
  .plan_service {
    margin-top: 32px;
    font-size: 24px;
  }
  .plan_number {
    margin-top: 20px;
    margin-bottom: 90px;
    font-size: 96px;
    font-weight: 700;
  }
  .plan_number span {
    font-size: 32px;
    color: #333333;
    ;
  }
  .plan_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
  }
  #qa {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .qa_container {
    max-width: 1024px;
    margin: 0 auto;
    
  }
  .qa_title {
    color: #333333;
    font-size: 32px;
    padding-top: 96px;
  }
  
  .recommend {
    padding-top: 96px;
    padding-bottom: 57px;
    height: 850px;
  }
  .recommend_inner {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 888px;
  }
  .recommend_left {
    width: 40%;
    margin: 0 auto;
  }
  .recommend_title {
    font-size: 32px;
    text-align: center;
    line-height: 1;
  }
  .recommend_title br {
    display: none;
  }
  .recommend_item {
    font-size: 16px;
    text-align: left;
    margin-top: 111px;
    width: 413px;
  }
  .recommend_pic img {
    width: 413px;
    height: 269px;
    margin-top: 48px;
    margin-bottom: 223px;
    align-items: center;
  }
  .footer_inner {
    height: 100px;
  }
  .small_sec {
  display: block;
  margin-top: 38px;
  font-family: Goldman;
  font-size: 12px;
  font-weight: 400;
  }
}
 /* @keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  } */
/* } */
/* 企業名アイコン５つ横スライダーのロゴコンテナ */
.logo_container {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
}
.logo_slider  {
  display: flex;
  width: calc(10 * 300px);
} 

