@use 'destyle';
@use 'header';
@use 'footer';
@use 'contact';
@use 'hamburger';
@use 'swiper-slider';
@use 'drawer';
@use 'hero';
@use 'lead';
@use 'works';
@use 'feature';
@use 'info';
@use 'accordion';
@use 'recommend';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Noto Sans JP, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 auto;
    position: relative;
    color: #333333;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .job_listing {
    position: absolute;
    max-width: 360px;
    bottom: 51.6%;
    left: 6px;
  }
  .button {
    width: 100%;
    max-width: 100vw;
  }
  