#feature {
    width: 375px;
    margin: 0 auto;
}

.feature_menu {
        margin: 72px auto 0;
        text-align: center;
    }

    .feature_heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        color: #333333;
    }

    .feature_list {
        margin-top: 51px;
        width: 100%;
    }

    .feature_item {
        border: 1px solid #007FC6;
        width: 91.2%;
        margin: 0 auto 24px;
        padding: 14px 30px 21px;
    }

    .feature_item:nth-child(4) {
        margin-bottom: 31px;
    }

    &_img img {
        width: 41.5%;
        height: auto;
    }

    &_title {
        margin-top: 19px;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        color: #F47500;
    }

    &_lead {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        color: #333333;
        margin-top: 19px;
        text-align: left;
    }
}